{% extends "base.html" %}
{% block title %}上传{% endblock %}
{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/fileinput.min.css') }}"/>
    <script src="{{ url_for('static', filename='js/fileinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fileinput_locale_zh.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="alert alert-danger" style="display: none" id="alert_tip"></div>
    <div class="container">

        <label class="control-label">选择文件</label>
        <input id="input" type="file" class="file">
        <script>
            $("#input").fileinput({
                language: "zh",
                uploadUrl: "upload",
                allowedFileExtensions: ["ipa", "apk"]
            }).on('filebatchpreupload', function (event, data) {
                var new_zip = new JSZip();
                new_zip.loadAsync(data.reader.result)
                    .then(function (zip) {
                        console.log(zip);
                    });

            }).on('fileuploaded', function (event, data) {
                showLoadingModal(false);
                if (data.response.code != 200) {
                    showAlert(data.response.msg);
                }
                else {
                    window.location.href = "../banner";
                }
            });
        </script>
    </div>
{% endblock %}