{% extends "base.html" %}
{% block title %}上传{% endblock %}
{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/fileinput.min.css') }}"/>
    <script src="{{ url_for('static', filename='js/fileinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fileinput_locale_zh.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="alert alert-danger" style="display: none" id="alert_tip"></div>
    <div class="container">

        <label class="control-label">选择文件</label>
        <input id="input" type="file" class="file">
        <script>
            let uploadInput = $("#input");
            uploadInput.fileinput({
                language: "zh",
                uploadUrl: "upload",
                allowedFileExtensions: ["ipa", "apk"],
                uploadAsync: false,
                showUpload: false, // hide upload button
                showRemove: false, // hide remove button
                minFileCount: 1,
                maxFileCount: 1
            }).on('filebatchselected', function (event, files) {

                var file = files[0];
                var start = 0;
                var stop = file.size - 1;

                var reader = new FileReader();

                // If we use onloadend, we need to check the readyState.
                reader.onloadend = function (evt) {
                    if (evt.target.readyState == FileReader.DONE) { // DONE == 2
                        var new_zip = new JSZip();
                        new_zip.loadAsync(evt.srcElement.result).then(function (zip) {
                            let regex = new RegExp('.\.app/Info\.plist');
                            let plistKey = undefined;
                            for (let key in zip.files) {
                                if (regex.test(key)) {
                                    plistKey = key;
                                    break;
                                }
                            }
                            if (plistKey !== undefined) {
                                return zip.file(plistKey).async("base64");
                            }

                        }).then(function (plist) {
                            $.ajax({
                                url: "./parse", // the endpoint
                                type: "POST", // http method
                                data: {
                                    content: plist,
                                    platom: 'ios'
                                }, // data sent with the post request

                                // handle a successful response
                                success: function (json) {
                                    if (json['code'] == 200) {
                                        uploadInput.fileinput("upload");
                                    }
                                    else {
                                        showAlert(json.msg);
                                    }

                                },

                                // handle a non-successful response
                                error: function (xhr, errmsg, err) {
                                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                                }
                            });
                        }).catch((r) => {
                            showAlert('解析ipa失败');
                        });
                    }
                };


                reader.readAsBinaryString(file);


            });
        </script>
    </div>
{% endblock %}